.dropdown{
    display: flex;
    flex-direction: column;
}

.dd-label{
    font-weight: bold;
}

.dd-select{
    padding: 0.5rem;
    border: unset;
    background: blueviolet;
    color:white;
}

.dd-select:focus{
    outline: none;
}